.DS_Store
node_modules
data
./packages/**/node_modules
./src/**/node_modules
src/server/src/temp
yarn-debug.log*
yarn-error.log*
/test/unit/coverage
coverage
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
